<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vamosjuntos">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Aniadirme"         android:label="@string/app_name_Aniadirme"
            ></activity>
        <activity android:name=".Coche.DetalleCoche"         android:label="@string/app_name_detalle_coche"
            />
        <activity android:name=".Coche.ListadoCoche"         android:label="@string/app_name_lista_coches"
            />
        <activity android:name=".Coche.AltaCoche"         android:label="@string/app_name_alta_Coche"
            />
        <activity android:name=".Evento.ListadoEvento"         android:label="@string/app_name_lista_eventos"
            />
        <activity android:name=".Evento.DetalleEvento"         android:label="@string/app_name_detalle_evento"
            />
        <activity android:name=".Evento.AltaEvento"         android:label="@string/app_name_alta_evento"
            />
        <activity android:name=".MainActivity"         android:label="@string/app_name_Main"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>